discord.py==2.5.2
openai>=1.14.0
yt-dlp==2025.6.25
discord-ext-voice-recv==0.5.2a179
python-dotenv==1.1.1
gTTS==2.5.1
faster-whisper==1.1.1
qrcode
python-barcode[images]
treys
feedparser
matplotlib
beautifulsoup4
typing_extensions>=4.9
